backports.entry-points-selectable==1.1.1
distlib==0.3.4
filelock==3.4.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
libpcap==1.11.0b2
numpy==1.21.4
packaging==21.3
pcapy==0.11.4
pkg-about==1.0.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
scipy==1.7.3
six==1.16.0
toml==0.10.2
tox==3.24.4
virtualenv==20.10.0
zipp==3.6.0
